<!DOCTYPE html>
<html lang="kk">
<head>
     <meta charset="UTF-8">
    <title>Елді мекендер арасының қашықтығы</title>
    <style>
        input {
            width: 150px;
            padding: 5px;
        }
    </style>

</head>
<body>
    <h1>Елді мекендер арасындағы қашықтықты есептеу</h1>

    <form method="post">
        {% csrf_token %}
        <label>Картаның масштабы (1 см = ? км):</label>
        <input type="text" name="scale" value="{{ scale_value }}" style="margin-left:35px" required><br><br>

        <label>Нүктелер арасындағы қашықтық (см):</label>
        <input type="text" name="cm" value="{{ cm_value }}" style="margin-left:10px" required><br><br>

        <label>Елді мекендер арасындағы қашықтық:</label>

        <input type="text" name="distance" value="{{ distance }}"  style="margin-left:10px" disabled><br><br>

        <br>
        <input type = "submit" name = "calculate" value = "Орындау" style="margin-left:50px; padding: 0.375rem 0.75rem; width: 130px;">
        <input type = "submit" name = "clear" value = "Тазарту" style="margin-left:60px; padding: 0.375rem 0.75rem; width: 130px;">
        <br> <br> <br>
        <a style="font-size: 16pt; margin-left: 30px;" href="/">
            <b> Басты бетке оралу </b> </a> <br>
    </form>
</body>
</html>